.menu {
    -fx-background-color: yellow;
}

.menu .label {
    -fx-text-fill: black;
    -fx-font-family: "American Typewriter";
}

.menu:hover {
    -fx-background-color: #adad00;
}

.menu:hover .label {
    -fx-text-fill: yellow;
}

.menu:pressed {
    -fx-translate-y: 1;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item .label {
    -fx-text-fill: yellow;
    -fx-font-family: "XB Shiraz";
    -fx-font-weight: bold;
}

.menu-item:hover {
    -fx-background-color: #0c7cec;
}

.menu-item:hover .label {
    -fx-text-fill: yellow;
}

.context-menu {
    -fx-background-color: #b81c1c;
    -fx-background-radius:  0 0 7 7;
}

.createCardMenuButton:pressed {
    -fx-translate-y: 1;
}