.borderPane {
    -fx-background-image: url("/images/backgrounds/LoginMenuMainMenu.jpg");
    -fx-background-size: stretch;
}

.generalButton {
    -fx-background-color: rgb(25, 212, 63);
    -fx-background-radius: 5px;
}

.generalButton:hover {
    -fx-cursor: hand;
    -fx-background-color: black;
    -fx-text-fill: rgb(25, 212, 63);
}

.generalButton:pressed {
    -fx-text-fill: white;
    -fx-translate-y: 1;
}

.backButton {
    -fx-background-color: yellow;
    -fx-background-image: url("/images/general/backButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.backButton:hover {
    -fx-background-image: url("/images/general/backButtonHover.png");
    -fx-cursor: hand;
}

.backButton:pressed {
    -fx-translate-y: 0;
    -fx-translate-x: -2;
    -fx-border-color: #534b4b;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
}