.popup {
    -fx-background-color: black;
    -fx-padding: 15;
    -fx-border-color: rgb(25, 212, 63);
    -fx-border-width: 1;
    -fx-font-size: 20;
    -fx-font-family: "American Typewriter";
    -fx-text-fill: yellow;
}