.gridPane {
    -fx-background-color: transparent;
}

.cheatField {
    -fx-background-color: transparent;
    -fx-border-color: red;
    -fx-border-width: 4px;
    -fx-border-radius: 2px;
    -fx-text-fill: #0fc0c1;
}